3. Create a dataframe having at least 3 columns and 50 rows to store numeric data generated using a random function. Replace 10% of the values by null values whose index positions are generated using random function. Do the following:

In [17]:
import numpy as np 
import pandas as pd

In [18]:
# # Set a seed for reproducibility
# np.random.seed(42)

# Create a dataframe with 3 columns and 50 rows of random numeric data
data = {'Column1': np.random.randn(50),
        'Column2': np.random.randn(50),
        'Column3': np.random.randn(50)}

df = pd.DataFrame(data)

# Replace 10% of the values with null values
null_indices = np.random.choice(df.size, size=int(0.1 * df.size), replace=False)
df.values.flat[null_indices] = np.nan
df

     Column1   Column2   Column3
0  -1.406197 -0.429299 -1.031807
1   0.913373  0.018414  0.401850
2  -0.652423  0.457219  1.003199
3  -1.924293  1.346506 -1.172719
4   0.558733 -0.155490 -0.918584
5   1.172578  1.737064 -1.146097
6  -1.231391  0.536366  0.669995
7   1.104671  2.328491 -0.786919
8  -0.519239 -0.068343 -0.353289
9   0.924752       NaN  1.374730
10  0.018923  0.733660 -0.197412
11  0.582199 -0.270195 -0.005092
12  0.679168  0.793154  2.587157
13 -0.182240       NaN  0.827881
14       NaN  0.685069  0.438768
15  0.677560 -0.140360       NaN
16 -1.036805       NaN  0.360589
17  1.659263  0.382316 -0.061513
18  1.697503 -0.189400  0.050650
19  1.298939       NaN  0.332948
20  1.009575 -0.581743 -0.580198
21 -1.559988 -0.936485  0.651813
22 -0.080525 -0.139258  0.335818
23       NaN -1.286901 -0.576989
24 -0.041388 -0.025973  0.970886
25  0.246262  0.420583  0.160588
26  1.002330       NaN       NaN
27  1.159609  0.248734       NaN
28  0.915052 -0.381719 -1.532844
29  0.464525       NaN  1.262464
30 -1.022424       NaN -1.202659
31 -1.164736 -1.153820 -0.337753
32  0.269508 -1.109502 -0.269606
33 -0.062935  1.039021 -0.374444
34       NaN       NaN  0.795398
35 -0.753921 -0.232133  1.192209
36 -0.515360 -2.371635  0.765357
37  0.447261 -0.131474 -0.080861
38 -1.678246 -0.481174  0.651617
39  0.052303 -0.281740 -1.765016
40 -0.564641  2.020243  2.815854
41  0.570706 -0.931025 -0.137638
42 -0.490806  1.221002 -1.256246
43 -1.107790 -1.139441 -0.492799
44 -0.809254       NaN  0.779060
45  1.517931 -1.459658 -0.483065
46 -0.049114 -1.038425  1.091039
47  0.689929  1.558842 -0.410495
48 -0.643752  0.172094  0.665484
49 -0.424388  0.344603  0.045130

a. Identify and count missing values in a dataframe.

In [19]:
missing_values = df.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 Column1    3
Column2    9
Column3    3
dtype: int64

b. Drop the column having more than 5 null values.

In [20]:
df = df.dropna(axis=1, thresh=len(df) - 5)
df

     Column1   Column3
0  -1.406197 -1.031807
1   0.913373  0.401850
2  -0.652423  1.003199
3  -1.924293 -1.172719
4   0.558733 -0.918584
5   1.172578 -1.146097
6  -1.231391  0.669995
7   1.104671 -0.786919
8  -0.519239 -0.353289
9   0.924752  1.374730
10  0.018923 -0.197412
11  0.582199 -0.005092
12  0.679168  2.587157
13 -0.182240  0.827881
14       NaN  0.438768
15  0.677560       NaN
16 -1.036805  0.360589
17  1.659263 -0.061513
18  1.697503  0.050650
19  1.298939  0.332948
20  1.009575 -0.580198
21 -1.559988  0.651813
22 -0.080525  0.335818
23       NaN -0.576989
24 -0.041388  0.970886
25  0.246262  0.160588
26  1.002330       NaN
27  1.159609       NaN
28  0.915052 -1.532844
29  0.464525  1.262464
30 -1.022424 -1.202659
31 -1.164736 -0.337753
32  0.269508 -0.269606
33 -0.062935 -0.374444
34       NaN  0.795398
35 -0.753921  1.192209
36 -0.515360  0.765357
37  0.447261 -0.080861
38 -1.678246  0.651617
39  0.052303 -1.765016
40 -0.564641  2.815854
41  0.570706 -0.137638
42 -0.490806 -1.256246
43 -1.107790 -0.492799
44 -0.809254  0.779060
45  1.517931 -0.483065
46 -0.049114  1.091039
47  0.689929 -0.410495
48 -0.643752  0.665484
49 -0.424388  0.045130

c. Identify the row label having maximum of the sum of all values in a row and drop that row.

In [23]:
max_sum_row = df.sum(axis=1).idxmax()
df = df.drop(max_sum_row)
df

     Column1   Column3
0  -1.406197 -1.031807
1   0.913373  0.401850
2  -0.652423  1.003199
3  -1.924293 -1.172719
4   0.558733 -0.918584
5   1.172578 -1.146097
6  -1.231391  0.669995
7   1.104671 -0.786919
8  -0.519239 -0.353289
10  0.018923 -0.197412
11  0.582199 -0.005092
13 -0.182240  0.827881
14       NaN  0.438768
15  0.677560       NaN
16 -1.036805  0.360589
17  1.659263 -0.061513
18  1.697503  0.050650
19  1.298939  0.332948
20  1.009575 -0.580198
21 -1.559988  0.651813
22 -0.080525  0.335818
23       NaN -0.576989
24 -0.041388  0.970886
25  0.246262  0.160588
26  1.002330       NaN
27  1.159609       NaN
28  0.915052 -1.532844
29  0.464525  1.262464
30 -1.022424 -1.202659
31 -1.164736 -0.337753
32  0.269508 -0.269606
33 -0.062935 -0.374444
34       NaN  0.795398
35 -0.753921  1.192209
36 -0.515360  0.765357
37  0.447261 -0.080861
38 -1.678246  0.651617
39  0.052303 -1.765016
40 -0.564641  2.815854
41  0.570706 -0.137638
42 -0.490806 -1.256246
43 -1.107790 -0.492799
44 -0.809254  0.779060
45  1.517931 -0.483065
46 -0.049114  1.091039
47  0.689929 -0.410495
48 -0.643752  0.665484
49 -0.424388  0.045130

d. Sort the dataframe on the basis of the first column.

In [26]:
# first_column_name = df.columns[0]
df = df.sort_values("Column1")
df

     Column1   Column3
3  -1.924293 -1.172719
38 -1.678246  0.651617
21 -1.559988  0.651813
0  -1.406197 -1.031807
6  -1.231391  0.669995
31 -1.164736 -0.337753
43 -1.107790 -0.492799
16 -1.036805  0.360589
30 -1.022424 -1.202659
44 -0.809254  0.779060
35 -0.753921  1.192209
2  -0.652423  1.003199
48 -0.643752  0.665484
40 -0.564641  2.815854
8  -0.519239 -0.353289
36 -0.515360  0.765357
42 -0.490806 -1.256246
49 -0.424388  0.045130
13 -0.182240  0.827881
22 -0.080525  0.335818
33 -0.062935 -0.374444
46 -0.049114  1.091039
24 -0.041388  0.970886
10  0.018923 -0.197412
39  0.052303 -1.765016
25  0.246262  0.160588
32  0.269508 -0.269606
37  0.447261 -0.080861
29  0.464525  1.262464
4   0.558733 -0.918584
41  0.570706 -0.137638
11  0.582199 -0.005092
15  0.677560       NaN
47  0.689929 -0.410495
1   0.913373  0.401850
28  0.915052 -1.532844
26  1.002330       NaN
20  1.009575 -0.580198
7   1.104671 -0.786919
27  1.159609       NaN
5   1.172578 -1.146097
19  1.298939  0.332948
45  1.517931 -0.483065
17  1.659263 -0.061513
18  1.697503  0.050650
14       NaN  0.438768
23       NaN -0.576989
34       NaN  0.795398

e. Remove all duplicates from the first column.

In [28]:
# first_column_name = df.columns[0]
df = df.drop_duplicates("Column1")
df

     Column1   Column3
3  -1.924293 -1.172719
38 -1.678246  0.651617
21 -1.559988  0.651813
0  -1.406197 -1.031807
6  -1.231391  0.669995
31 -1.164736 -0.337753
43 -1.107790 -0.492799
16 -1.036805  0.360589
30 -1.022424 -1.202659
44 -0.809254  0.779060
35 -0.753921  1.192209
2  -0.652423  1.003199
48 -0.643752  0.665484
40 -0.564641  2.815854
8  -0.519239 -0.353289
36 -0.515360  0.765357
42 -0.490806 -1.256246
49 -0.424388  0.045130
13 -0.182240  0.827881
22 -0.080525  0.335818
33 -0.062935 -0.374444
46 -0.049114  1.091039
24 -0.041388  0.970886
10  0.018923 -0.197412
39  0.052303 -1.765016
25  0.246262  0.160588
32  0.269508 -0.269606
37  0.447261 -0.080861
29  0.464525  1.262464
4   0.558733 -0.918584
41  0.570706 -0.137638
11  0.582199 -0.005092
15  0.677560       NaN
47  0.689929 -0.410495
1   0.913373  0.401850
28  0.915052 -1.532844
26  1.002330       NaN
20  1.009575 -0.580198
7   1.104671 -0.786919
27  1.159609       NaN
5   1.172578 -1.146097
19  1.298939  0.332948
45  1.517931 -0.483065
17  1.659263 -0.061513
18  1.697503  0.050650
14       NaN  0.438768

f. Find the correlation between first and second column and covariance between second and third
column.

In [110]:
# correlation = df['Column1'].corr(df['Column2'])
# covariance = df['Column2'].cov(df['Column3'])
# print("Correlation between Column1 and Column2:", correlation)
# print("Covariance between Column2 and Column3:", covariance)

#---------------------------------------------------------------------------------------------------

# first_column_name = df.columns[0]
# second_column_name = df.columns[1]
# third_column_name = df.columns[2]

# correlation_col1_col2 = df[first_column_name].corr(df[second_column_name])
# covariance_col2_col3 = df[second_column_name].cov(df[third_column_name])

# print(f"f. Correlation between {first_column_name} and {second_column_name}: {correlation_col1_col2}")
# print(f"   Covariance between {second_column_name} and {third_column_name}: {covariance_col2_col3}")

#---------------------------------------------------------------------------------------------------

if df.shape[1] >= 3:
    first_column_name = df.columns[0]
    second_column_name = df.columns[1]
    third_column_name = df.columns[2]

    correlation_col1_col2 = df[first_column_name].corr(df[second_column_name])
    covariance_col2_col3 = df[second_column_name].cov(df[third_column_name])

    print(f"f. Correlation between {first_column_name} and {second_column_name}: {correlation_col1_col2}")
    print(f"   Covariance between {second_column_name} and {third_column_name}: {covariance_col2_col3}")
else:
    print("Not enough columns for correlation and covariance calculations.")

Not enough columns for correlation and covariance calculations.

g. Detect the outliers and remove the rows having outliers.

In [32]:
z_scores = (df - df.mean()) / df.std()
outliers = (z_scores > 3) | (z_scores < -3)
df = df[~outliers.any(axis=1)]
df

     Column1   Column3
3  -1.924293 -1.172719
38 -1.678246  0.651617
21 -1.559988  0.651813
0  -1.406197 -1.031807
6  -1.231391  0.669995
31 -1.164736 -0.337753
43 -1.107790 -0.492799
16 -1.036805  0.360589
30 -1.022424 -1.202659
44 -0.809254  0.779060
35 -0.753921  1.192209
2  -0.652423  1.003199
48 -0.643752  0.665484
8  -0.519239 -0.353289
36 -0.515360  0.765357
42 -0.490806 -1.256246
49 -0.424388  0.045130
13 -0.182240  0.827881
22 -0.080525  0.335818
33 -0.062935 -0.374444
46 -0.049114  1.091039
24 -0.041388  0.970886
10  0.018923 -0.197412
39  0.052303 -1.765016
25  0.246262  0.160588
32  0.269508 -0.269606
37  0.447261 -0.080861
29  0.464525  1.262464
4   0.558733 -0.918584
41  0.570706 -0.137638
11  0.582199 -0.005092
15  0.677560       NaN
47  0.689929 -0.410495
1   0.913373  0.401850
28  0.915052 -1.532844
26  1.002330       NaN
20  1.009575 -0.580198
7   1.104671 -0.786919
27  1.159609       NaN
5   1.172578 -1.146097
19  1.298939  0.332948
45  1.517931 -0.483065
17  1.659263 -0.061513
18  1.697503  0.050650
14       NaN  0.438768

h. Discretize second column and create 5 bins

In [112]:
df['Column2_bins'] = pd.cut(df['Column2'], bins=5)
df

     Column1   Column2      Column2_bins
36 -1.698270  0.702551   (-0.143, 0.824]
8  -1.021517  0.709773   (-0.143, 0.824]
43 -0.956246 -1.381666  (-2.081, -1.109]
9  -0.913323  2.756639     (1.79, 2.757]
41 -0.802185  0.604413   (-0.143, 0.824]
14 -0.771775  0.275694   (-0.143, 0.824]
2  -0.649556 -0.501084  (-1.109, -0.143]
35 -0.638648  0.773001   (-0.143, 0.824]
49 -0.625250  0.003376   (-0.143, 0.824]
38 -0.624027 -0.396831  (-1.109, -0.143]
45 -0.602419       NaN               NaN
26 -0.559506  0.685085   (-0.143, 0.824]
15 -0.531586 -0.330384  (-1.109, -0.143]
29 -0.490414  0.142359   (-0.143, 0.824]
37 -0.483828       NaN               NaN
32 -0.353671 -0.386479  (-1.109, -0.143]
0  -0.296873 -0.328841  (-1.109, -0.143]
24 -0.286434  1.202349     (0.824, 1.79]
34 -0.271276 -0.435080  (-1.109, -0.143]
23 -0.132735  0.089880   (-0.143, 0.824]
44 -0.125293 -1.004897  (-1.109, -0.143]
48 -0.110168  2.027582     (1.79, 2.757]
33 -0.014961 -2.075834  (-2.081, -1.109]
12 -0.005419  0.481046   (-0.143, 0.824]
4   0.008576 -0.112646   (-0.143, 0.824]
6   0.039056  0.836976     (0.824, 1.79]
28  0.063501  1.472644     (0.824, 1.79]
39  0.114891  1.580925     (0.824, 1.79]
47  0.116773 -0.305457  (-1.109, -0.143]
21  0.223577  0.807871   (-0.143, 0.824]
27  0.295500  0.121193   (-0.143, 0.824]
5   0.330879  0.450825   (-0.143, 0.824]
42  0.373497  0.903613     (0.824, 1.79]
40  0.440699  0.185068   (-0.143, 0.824]
25  0.483853  2.075570     (1.79, 2.757]
3   0.528763  0.479407   (-0.143, 0.824]
31  0.645988  1.001011     (0.824, 1.79]
7   0.746171 -0.353978  (-1.109, -0.143]
46  0.746174  1.072217     (0.824, 1.79]
17  0.804107 -0.072585   (-0.143, 0.824]
22  1.202003  0.244390   (-0.143, 0.824]
16  1.457488 -0.595941  (-1.109, -0.143]
10  1.464514  0.567540   (-0.143, 0.824]
18  1.606427 -0.154750  (-1.109, -0.143]
13  1.715266 -0.931962  (-1.109, -0.143]
11       NaN  1.613581     (0.824, 1.79]